@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.hero-image{
  background: url("../assets/img/hero.png") no-repeat center/cover;
}

.rasm{
  background: url("../assets/svg/hero.svg") no-repeat center/cover;
}

.eighth{
  background: url("../assets/svg/eighthdayImg.svg") no-repeat center/cover;
}

.firstDay{
  background: black;
}